# Fundamentos de Python

***Elaborado por:*** Carlos Enrique Rondan Poma, Director de ``I+D+I`` de ASQ UNI

Redes sociales:
[Linkedin](https://www.linkedin.com/in/carlosrondanp/), [Facebook](https://www.facebook.com/carlos.rondan.p/)

## Variables y Tipos de datos

**Variable**: Una variable consta de un espacio en la memoria y un símbolo (nombre de la variable, identificador) que está asociado a dicho espacio.

Tipos de datos:

* ``int`` $\rightarrow$ Números enteros
* ``float`` $\rightarrow$ Números decimales (coma flotante)
* ``str`` $\rightarrow$ Cadena de caracteres
* ``bool`` $\rightarrow$  True/false

``nombre_variable = valor``

<div class="alert alert-block alert-warning">
    <b>Nota:</b> Asignamos los datos sin indicar de qué tipo son.
</div>

---
Ingrese al siguiente [link](https://www.youtube.com/)


$$\int\limits_{a}^b f(x)\mathrm{d}(x) = F(x)$$

In [198]:
# int -> Tipo de dato entero
a = 20
a

20

In [199]:
# float -> Tipo de dato decimal
b = 20.498
b

20.498

In [200]:
# str -> Tipo de dato "cadena de caracteres"
c = 'ASQ UNI - IDI'
c

'ASQ UNI - IDI'

In [201]:
d = True
d

True

<div class="alert alert-block alert-success">
    <b>Recomendación:</b> Nombre de variables, por ejemplo: 
    <ul>
        <li>NuevaVariable
        <li>Nueva_Variable 
        <li>nueva_variable
    </ul>    
</div>

<div class="alert alert-block alert-info">
    <b>del:</b> es una función de python que nos permite eliminar las variables que no usaremos  
</div>

In [202]:
type(a), type(b), type(c), type(d)

(int, float, str, bool)

<div class="alert alert-block alert-success">
    <b>Recomendación:</b> Usar la librería keyword y usar el método kwlist para ver todas las palabras clave de Python
</div>

In [203]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 '__peg_parser__',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

## Operaciones aritméticas

In [204]:
print('Suma:',1+8)
print('Resta:',2-5)
print('Multiplicacion:',2*10)
print('División:',2/4)
print('Divisín entera:',5//2)
print('Modulo:',5%2) # el módulo es el residuo de una división --> 5 = 2*2 +1 = D = d*q + r 
print('Potencia: ', 7**2)
print('Raiz cuadrada: ', 2**(1/2))

Suma: 9
Resta: -3
Multiplicacion: 20
División: 0.5
Divisín entera: 2
Modulo: 1
Potencia:  49
Raiz cuadrada:  1.4142135623730951

<div class="alert alert-block alert-info">
    <b>math:</b> Librería que nos permite usar pow y sqrt (operaciones atirméticas y trigonométricas)
</div>

In [205]:
import math
print('Potencia: ',math.pow(7,2))
print('Raiz cuadrada: ', math.sqrt(2))

Potencia:  49.0
Raiz cuadrada:  1.4142135623730951

In [206]:
# adicionalmente podemos acceder a constantes
print('pi: ',math.pi)
print('e: ', math.e) #base del logaritmo neperiano

pi:  3.141592653589793
e:  2.718281828459045

In [207]:
#help(math)

* **algoritmo**: Conjunto de operaciones sistemáticas que permiten hallar la solución a un problema
* **Función**: Es un bloque de código con un nombre asociado, que recibe 0 o más argumentos y sigue una secuencia de sentencias, las cuales devuelven un valor y/o realiza una tarea
* **Script**: Archivo diseñado para ser ejecutado. Puede conetener Funciones , programas, etc.
* **Módulo**: Script que contiene colecciones de funciones, definiciones y declaraciones de ``python``

<div class="alert alert-block alert-warning">
    <b>Casting:</b> Convertir tipo de dato, por ejemplo int(8.0) -> 8 o también float(7) -> 7.0
</div>

<div class="alert alert-block alert-danger">
    <b>Observación:</b> Tener cuidado al castear una variable float, por ejemplo int(8.4) --> 8, lo cual significa que se ha truncado la variable y se ha perdido información  
</div>

## Variable String
**String**: Cadena ordenada de caracteres (cadena de texto)

Podemos crear un string usando ``' '`` o ``" "``

In [208]:
a = 'I+D+I'
a

'I+D+I'

In [209]:
type(a)

str

In [210]:
# Imprimir (print)
print('ASQ UNI - IDI, La mejor área')
print("ASQ UNI - IDI, La mejor área")

ASQ UNI - IDI, La mejor área
ASQ UNI - IDI, La mejor área

### Comillas dentro de un string

In [211]:
a = 'usaremos \'comillas\' dentro de un string' 
b = 'usaremos \"comillas\" dentro de un string' 
print(a)
print(b)

usaremos 'comillas' dentro de un string
usaremos "comillas" dentro de un string

### Operaciones con Strings

In [212]:
## Concatenación
a = 'Carlos, '
b = 'Director IDI'
a+b

'Carlos, Director IDI'

In [213]:
## Repetir strings
texto = 'Haré la tarea xd, '
texto*5

'Haré la tarea xd, Haré la tarea xd, Haré la tarea xd, Haré la tarea xd, Haré la tarea xd, '

In [214]:
## Castear una variable numérica
numero = 1
str(numero)

'1'

Usaremos el método ``.format()`` junto a ``print()`` para poder concatenar las variables

In [215]:
print('IDI en ASQ es el número {}'.format(numero))

IDI en ASQ es el número 1

### Substrings
Nos servirá para acceder a los acaraceteres de cualquier varaible ``string``

In [216]:
var = 'Python'

La cadena de texto 'Python' tiene la siguiente indexación:

``
P  y  t  h  o  n
 0  1  2  3  4  5
-6 -5 -4 -3 -2 -1
``

In [217]:
var[-1], var[3]

('n', 'h')

In [218]:
texto = 'IDI es la mejor área'

In [219]:
texto[0]

'I'

También podemos extraer más de un caracter usando ``[a:b]``. tener en cuenta que en Python sería ``[a , b>`` (slicing)

In [220]:
var[1:3]

'yt'

In [221]:
var[:4]

'Pyth'

In [222]:
var[1:]

'ython'

In [223]:
var[-5:]

'ython'

### Métodos de Strings

In [224]:
texto = 'Somos el ÁREA que impulsará la Calidad 4.0'

El método ``lower()`` sirve para poner todo el texto en minúscula

In [225]:
texto.lower()

'somos el área que impulsará la calidad 4.0'

El método ``upper()`` sirve para poner todo el texto en mayúscula

In [226]:
texto.upper()

'SOMOS EL ÁREA QUE IMPULSARÁ LA CALIDAD 4.0'

El método ``.count()`` sirve para contar las veces que aparce un substring

In [227]:
texto.count('a')

4

El método ``.capitalize()`` convierte en mayuscula solo el primer caracter de un string

In [228]:
texto_nuevo = texto.lower()
texto_nuevo.capitalize()

'Somos el área que impulsará la calidad 4.0'

El método ``.title()`` convierte en mayúscula las primeras letras de cada palabra y en mínuscula las demás

In [229]:
texto.title()

'Somos El Área Que Impulsará La Calidad 4.0'

El método ``.replace()`` remplaza un substring a otro que le indiquemos

In [230]:
texto.replace('4.','5.')

'Somos el ÁREA que impulsará la Calidad 5.0'

El método ``.split()`` divide el string y cada elemento (string) los ingresa en una lista

In [231]:
texto.split(' ')

['Somos', 'el', 'ÁREA', 'que', 'impulsará', 'la', 'Calidad', '4.0']

El método ``.find()`` nos permite ubicar el indice en donde se encuentra el sbstring

In [232]:
texto.find('Calid')

31

El método ``.len()`` nos da el tamaño de un string

In [233]:
len(texto)

42

## Operadores Lógicos / operadores de decisión

### Comparadores
|Comparador|Significado|
|-|-|
|<|Menor que|
|>|Mayor que|
|<=|Menor o igual que|
|>=|Mayor o igual que|
|==|igual que|
|!=|No igual que|

### Booleanos
|bool|Significado|
|-|-|
|and|Retorna verdadero si ambas condiciones son verdaderas|
|or|Retorna verdadero si algunas o ambas condiciones son verdaderas|
|not|Retorna verdadero si la condición es falsa y viceversa|

## Estructuras de datos

* ``Lista``
* ``Tupla``
* ``Diccionario``
* ``Set``

### Listas
 **Lista**: es una colección ordenada de valores de cualquier tipo

In [234]:
x = [1,2,3,4]
y = ['1','2','3','4']
z = [1,2,'3',4,'5']

In [235]:
x,y,z

([1, 2, 3, 4], ['1', '2', '3', '4'], [1, 2, '3', 4, '5'])

In [236]:
type(x), type(y), type(z)

(list, list, list)

#### Operaciones con Listas

In [237]:
lista_1 = [10,10.2,'carlos',[1,2]]

La lista ``lista_1`` tiene la siguiente indexación:

``
[ 10,10.2,'carlos',[1,2]]
   0    1     2       3 
  -4   -3    -2      -1
``

In [238]:
# Extraer el cuarto elemento (lista)
lista_1[3],  lista_1[-1]

([1, 2], [1, 2])

Para extraer más de un elemento podemos usar ``slicing`` $\rightarrow$ ``lista[(incluye): (no incluye)]``

In [239]:
# extraermos el elemento 1 y 2
lista_1[1:3]

[10.2, 'carlos']

Concatenación de listas usando ``+``

In [240]:
lista_1 + ['2',[1,2]]

[10, 10.2, 'carlos', [1, 2], '2', [1, 2]]

podemos generar elementos repetidos usando ``*``

In [241]:
ceros = [0]
ceros

[0]

In [242]:
ceros*20

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

#### Métodos de listas

Usaremos el método ``len()`` para saer la longitud de una lista

In [243]:
len(lista_1)

4

Usaremos el método ``.append()`` para añadir nuevos elementos al final de la lista

In [244]:
lista_1

[10, 10.2, 'carlos', [1, 2]]

In [245]:
lista_1.append(2)
lista_1

[10, 10.2, 'carlos', [1, 2], 2]

Usaremos el método ``.insert()`` para añadir nuevos elementos a la lista, especificando el ``indice`` donde querramos ubicar

In [246]:
lista_1

[10, 10.2, 'carlos', [1, 2], 2]

In [247]:
lista_1.insert(1,'Aqui toy')
lista_1

[10, 'Aqui toy', 10.2, 'carlos', [1, 2], 2]

Usaremos el método ``.count()`` para contabilizar la cantidad de veces que se encontrará algun elemento indicado

In [248]:
lista_1

[10, 'Aqui toy', 10.2, 'carlos', [1, 2], 2]

In [249]:
lista_1.count('Aqui toy')

1

Usaremos el método ``.index()`` para encontrar la indexación correspondiente a algún elemento buscado

In [250]:
lista_1.index([1,2])

4

Usaremos el método ``.remove()`` para quitar la primera coincidencia del elemento que ingresemos

In [251]:
lista_1.remove(2)
lista_1

[10, 'Aqui toy', 10.2, 'carlos', [1, 2]]

Usaremos el método ``.reverse()`` para invertir los elementos de la lista, sin embargo podemos usar ``lista[::-1]``

In [275]:
lista_1.reverse()
lista_1

[[1, 2], 'carlos', 10.2, 'Aqui toy', 10]

In [276]:
lista_1[::-1]

[10, 'Aqui toy', 10.2, 'carlos', [1, 2]]

In [278]:
lista_1

[[1, 2], 'carlos', 10.2, 'Aqui toy', 10]

Usaremos el método ``.sort()`` para ordenar los elementos de una lista (para elementos ordenables)

In [289]:
lista_2 = [2,5,1,4]
lista_2

[2, 5, 1, 4]

In [292]:
lista_2.sort(reverse=True)
lista_2

[5, 4, 2, 1]

<div class="alert alert-block alert-success">
    <b>Nota:</b> Las listas son objetos iterables que son muy usados en las estructuras de control.
</div>

#### Crear nuevas listas

In [421]:
x = [1,2,3]
x

[1, 2, 3]

In [422]:
y = x
y

[1, 2, 3]

In [423]:
y[1] = 100
x, y

([1, 100, 3], [1, 100, 3])

In [424]:
x = [1,2,3]
x

[1, 2, 3]

In [425]:
z = list(x)

In [426]:
z[1] = 100
x,z

([1, 2, 3], [1, 100, 3])

#### Matrices con Listas

In [427]:
matriz = [['Carlos','Luisa','Mariana'],
          [4,5,[1,2,3,4]]]
matriz

[['Carlos', 'Luisa', 'Mariana'], [4, 5, [1, 2, 3, 4]]]

In [428]:
len(matriz)

2

In [429]:
matriz[1]

[4, 5, [1, 2, 3, 4]]

In [430]:
matriz[1][2][2]

3

In [431]:
matriz_numerica = [[1,2,3],
                   [4,5,6]]
matriz_numerica

[[1, 2, 3], [4, 5, 6]]

In [432]:
a11 = matriz_numerica[0][0]
a11

1

### Tuplas
 **Tupla**: es una colección ordenada de valores de cualquier tipo, que es inmutable

In [433]:
tupla = (1,2,3,4)

<div class="alert alert-block alert-danger">
    <b>Nota:</b> es una colección inmutable 
</div>

<div class="alert alert-block alert-success">
    <b>Recomendación:</b> Si desean hacer mutable una tupla, entonces podemos castear la variable
</div>

In [434]:
lista_tupla= list(tupla)

In [435]:
lista_tupla

[1, 2, 3, 4]

#### Función ZIP
Permite juntar varias ``listas`` en una ``tupla``

In [436]:
nombres = ['Carlos','María','Luisa']
notas = [14,15,16]

zip(nombres, notas)

In [437]:
list(zip(nombres, notas))

[('Carlos', 14), ('María', 15), ('Luisa', 16)]

In [438]:
dict(zip(nombres, notas))

{'Carlos': 14, 'María': 15, 'Luisa': 16}

In [439]:
tuple(zip(nombres, notas))

(('Carlos', 14), ('María', 15), ('Luisa', 16))

### Diccionarios
 **Diccionario**: es una colección no ordenada de ``claves`` y ``valores``. Donde las claves son únicas
 
 ``
nombre_diccionario = {'clave_1': valor_1,
                      'clave_2': valor_2 ...}
``

In [450]:
registro_dic = {'Carlos': 12,
               'Jhon': 13,
               'Luisa':15,
               'Verónica': 18}

In [453]:
registro_dic['Luisa']

15

Nos ayuda a ubicar la clave o claves de alguna llave de forma más sencilla, comparandolo con las listas

In [454]:
nom_alumnos = ['Carlos','Jhon','Luisa','Verónica']
notas = [12,13,15,18]

In [455]:
nom_alumnos_luisa = nom_alumnos.index('Luisa')
nom_alumnos_luisa

2

In [457]:
notas[nom_alumnos_luisa]

15

#### Operaciones con diccionarios

In [465]:
registro_dic = {'Carlos': 12,
               'Jhon': 13,
               'Luisa':15,
               'Verónica': 18}

Usaremos el método ``.keys()`` para mostrar todas las ``claves`` de un diccionario

In [468]:
registro_dic.keys()

dict_keys(['Carlos', 'Jhon', 'Luisa', 'Verónica'])

Usaremos el método ``.values()`` para mostrar todos los ``valores`` de un diccionario

In [470]:
registro_dic.values()

dict_values([12, 13, 15, 18])

Usaremos el método ``len()`` para mostrar indicar el tamaño de un diccionario (pares de elementos)

In [471]:
len(registro_dic)

4

### Sets
 **Conjunto**: es una colección no ordenada de objetos (mismo o diferentes tipos). Sin elementos duplicados, no mutables

In [473]:
conjunto = {1,2,2,2,3,4}
conjunto

{1, 2, 3, 4}

#### Operaciones con conjuntos

In [482]:
A = {1,2,3,4}
B = {3,4,5,6}

podemos usar el operador lógico ``|`` o el método ``.union`` para unir conjuntos

In [485]:
A | B, A.union(B)

({1, 2, 3, 4, 5, 6}, {1, 2, 3, 4, 5, 6})

podemos usar el operador lógico ``&`` o el método ``.intersection`` para intersecar conjuntos

In [488]:
A & B, A.intersection(B)

({3, 4}, {3, 4})

podemos usar el operador lógico ``-`` o el método ``.difference`` para unir realizar la operación ed diferencia de conjutnos

In [489]:
A - B, A.difference(B)

({1, 2}, {1, 2})

## Estructura de control
### Condicionales

Usaremos ``if`` cuando queremos comprobar una determinada condición

``
if condicion:
    sentencias
else:
    sentencias
``

In [490]:
score = -0.1

if (score >= 0 and score < 0.2) :
    print('Rojo')
else:
    if (score >= 0.2 and score < 0.8):
        print('Amarillo')
    else:
        if (score >= 0.8 and score < 1):
            print('Verde')
        else:
            print('El score no es válido')

El score no es válido

In [492]:
score = 0.9
if (score >= 0 and score < 0.2) :
    print('Rojo')
elif (score >= 0.2 and score < 0.8):
    print('Amarillo')
elif (score >= 0.8 and score < 1):
    print('Verde')
else:
    print('El score no es válido')

Verde

#### Operador ternario ( ``if`` en una lína de código)

consecuencia_verdadero ``if`` condicion ``else`` consecuencia_falso

In [494]:
edad = 22
print('El usuario tiene {}: es mayor de edad'.format(edad)) if edad >= 18 else print('Es menor de edad')

El usuario tiene 22: es mayor de edad